* {
    font-family: Optima, sans-serif;
    font-weight: 50;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}


header {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    margin-bottom: 0%;
    min-height: 150px;
    text-align: center;
}

header a:hover {
    color: gray;
}

header a {
    display: block;
    font-size: 3em;
    text-align: center;
    padding: 3% 0;
    text-transform: uppercase;
    color: #45919A;
}


nav {
    background-color: #015F6A;
    width: 100%;
}

nav ul {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 25px 30px;
    text-align: center;
}

nav ul li a:hover {
    background-color: #01353b;
    color: gray;
}

main {
    width: 100%;
    margin: 0;
}

main .banner img {
    width: 100%;
}

section h1 {
    text-align: center;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 2em;
}

/*#content .grid-cars {
    display: grid;
    
} */

.menu {
    background-color: gray;
    text-align: center;
    width: 20%;
    float: left;
    height: 600px;
}

.grid-container {
    max-width: 75%;
    margin: 0 auto;
}

.grid-cars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 125px;
    row-gap: 57px;
}

.car_card {
    min-width: 330px;
    min-height: 200px;
    margin: 0;
    border: 2px solid #45919A;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #01353b;
} 

.car_card:hover {
    box-shadow: 3px 6px 8px #01353b;
}

.car_card .top_card {
    text-align: center;
}

.car_card .top_card img {
    max-width: 75%;
    max-height: 60%;
} 

.car_card .desc_card {
    min-height: 70px;
}

.car_card .desc_card p {
    text-align: center;
    color: #45919A;
    margin: 0;
    font-size: 1.25em;
} 

.more a {
    display: block;
    color: #015F6A;
    font-size: 1.5em;
    text-decoration: underline;
    margin: 25px auto;
    text-align: center;
}

.more a:hover {
    color: gray;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #09312A;
    bottom: 0;
    width: 100%;
    clear: both;
    color: white;
    font-size: 1.5em;
}

.socials, .address, .requisites {
    flex-basis: auto;
}

footer .socials {
    text-align: center;
    
}

