* {
    font-family: Optima, sans-serif;
    font-weight: 50;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 2.75em;
}

#header {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    margin-bottom: 0%;
    min-height: 150px;
    text-align: center;
}

#header a:hover {
    color: gray;
}

#header a {
    display: block;
    font-size: 3em;
    text-align: center;
    padding: 3% 0;
    text-transform: uppercase;
    color: #45919A;
}


nav {
    background-color: #015F6A;
    width: 100%;
}

nav ul {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 25px 30px;
    text-align: center;
}

nav ul li a:active {
    text-decoration: underline;
}

nav ul li a:hover {
    background-color: #01353b;
    color: gray;
}



main {
    width: 100%;
    margin: 0;
}

main .banner img {
    width: 100%;
}

.header-main  {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 5%;
}

/*#content .grid-cars {
    display: grid;
    
} */

.menu {
    background-color: gray;
    text-align: center;
    width: 20%;
    float: left;
    height: 600px;
}

.grid-container {
    max-width: 75%;
    margin: 0 auto;
}

.grid-cars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 125px;
    row-gap: 57px;
}

.car_card {
    box-sizing: border-box;
    min-width: 100%;
    min-height: 200px;
    margin: 0;
    border: 2px solid #45919A;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #01353b;
} 

.car_card:hover {
    box-shadow: 3px 6px 8px #01353b;
}

.car_card .top_card {
    text-align: center;
    /* min-height: 60%; */
}

.car_card .top_card img {
    width: 75%;
    max-height: 60%;
} 

.car_card .desc_card {
    min-height: 70px;
}

.car_card .desc_card p {
    text-align: center;
    color: #45919A;
    margin: 0;
    font-size: 0.9em;
} 

.more a {
    display: block;
    color: #015F6A;
    font-size: 1.5em;
    text-decoration: underline;
    margin: 25px auto;
    text-align: center;
}

.more a:hover {
    color: gray;
    text-decoration: none;
}

footer {
    box-sizing: border-box;
    padding: auto 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #09312A;
    height: 30vh;
    width: 100%;
    flex-wrap: wrap;
    clear: both;
    color: white;
    font-size: 1.25em;
}

.footer-heading {
    margin: auto 8%;
    max-width: 180px;
}

footer .socials {
    text-align: left;
}

.block-socials img:hover {
    transition: 0.8s;
    transform: scale(1.1);
}

#sidebar {
    background-color: #EFEFEF;
    width: 310px;
    height: 50%;
    margin: 0;
    border-right: 3px solid #015F6A;
    border-bottom: 3px solid #015F6A;
}

#sidebar h2 {
    box-sizing: border-box;
    display: block;
    padding: 15px 0 20px 9px;
    margin: 0;
    font-size: 2em;
}

#btn-class {
    display: block;
    padding: 0;
    width: 240px;
    min-height: auto;
    margin: 15px auto;
    border: 3px solid #015F6A;
    border-radius: 10px;
    font-size: 1.75em;
    color: #45919A;
    background-color: white;
}

#btn-class:hover {
    background-color: #09312A;
    color: white;
}

.search-panel-content {
    background-color: #EFEFEF;
    box-sizing: border-box;
}

.search-panel-content p {
    font-size: 1.25em;
    color: #45919A;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    padding-left: 23px;
    width: 140px;
}

.brand-cell, 
.search-panel-year,
.search-panel-price {
    width: 100%;
    margin: 8px 0;
}

.search-panel-price {
    display: block;
}

.dropdown {
    /*position: relative; */
    display: inline-block;
  }

  .brand-choose {
    margin: 0;
    
  }

  .dropbtn {
    box-sizing: border-box;
    border: none;
    font-size: 1.25em;
    text-decoration: underline;
    font-weight: 600;
    color: #45919A;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 120px;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    text-align: center;
    font-size: 1.25em;
    padding: 5px 3px;
}

.dropdown-content a:hover {
    background-color: rgb(188, 188, 188);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

.search-panel-price p {
    display: block;
}

.input-year {
    width: 45px;
    height: 22px;
    margin: 0;
}

.inputs-price {
    margin-left: 23px;
    margin-top: 5px;
}

.input-price-at, .input-price-from {
    width: 80px;
    height: 22px;
    margin: 0;
}

.btn-accept {
    margin: 10px 20px 10px 210px;
    width: 65px;
    height: 30px;
    background-color: #09312A;
    color: white;
}

/* все содержимое контента страницы */

.catalog-content {
    display: flex;
    font-size: 100%;
}

/* блок каталога автомобилей */

.catalog {
    margin: 55px auto;
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    box-sizing: border-box;
}

.catalog-header {
    display: block;
    text-align: center;
}

.header-page-name {
    display: block;
    padding: 0;
    margin: 5px;
}

.header-class-name {
    margin: 30px 0;
    font-size: 2em;
    color: #015F6A;
}

/* сетка карточек */

.grid-cars-catalog {
    width: 100%;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fill, 380px);
    column-gap: 25px;
    row-gap: 37px;
    justify-content: center;
}

/* карточка */

.car-card-catalog {
    width: 380px;
    flex-direction: column;
    position: relative;
}

.desc_card-catalog {
    display: block;
    margin: 0;
    padding: 0;
}

.card-price {
    font-size: 1.5em;
    text-align: center;
    color: black;
    
}

.card-price p {
    display: block;
    margin: 0 auto 2% auto;
    font-weight: 700;
}

.desc_card-catalog {
    position: relative;
    min-height: 70px;
    box-sizing: border-box;
    font-size: 100%;
}

.card-properties {
    padding: 1% 4%;
    margin: 0 auto;
}

.desc_card-catalog .card-properties p {
    display: block;
    text-align: center;
    color: #45919A;
    margin: 0;
    font-size: 1em;
}

.card-btn {
    padding: 3px auto;
}

.btn-detailed {
    display: block;
    font-size: 1em;
    right: 15px;
    border: 1px solid #09312A;
    margin: 5px auto;
    width: 180px;
    height: 30px;
    background-color: white;
    color: #09312A;
}

.btn-detailed:hover {
    background-color: #09312A;
    color: white;
}

.next-prev-page {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.next-prev-page p {
    display: inline-block;
    margin: 0;
    padding: 0 14px;
    color: black;
    font-weight: bold;
    font-size: 1.25em;
}

.next-prev-page a:hover p {
    color: gray;
}

/* 

    Стили для car_page.html

*/

.car-page-content {
    margin: 0 10%;
}

.car-page-container {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 30px auto;
}

.car-page-container .car-page-header {
    display: block;
    margin: 0 auto;
}

.car-page-header h1 {
    display: block;
    margin: 30px auto;
}

.wrap-car-image-spec {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: calc(100% - 400px) 375px;
    column-gap: 20px;
    min-width: 100%;
}

.car-images {
    box-sizing: border-box;
    background-color: #F4F4F4;
    height: 450px;
    margin-bottom: 20px;
}

.choosen-car-image {
    max-width: 90%;
    margin: 15px 35px;
    height: 300px;
    background-color: #333333;

}

.chosen-image {
    display: block;
    max-width: 450px;
    max-height: 300px;
    margin: 0 auto;
}

.gallery-car-images {
    /* display: flex; */
    /*justify-content: flex-start; */
    display: inline-block;
    margin: 0 auto;
    padding: 0 35px;
}

.wrap-inactive-img {
    display: inline-block; 
    width: 150px;
    height: 100px;
    margin-right: 10px;
    background-color: #333333;
}

.inactive-image {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 150px;
    max-height: 100px;
}

.wrap-inactive-img:hover {
    box-sizing: border-box;
    outline: 2px solid rgb(12, 110, 229);
}

.car-specifications {
    background-color: #F4F4F4;
    height: 325px;
}

.header-car-spec, .car-spec-values {
    list-style-type: none;
    font-size: 1.1em;
    line-height: 0.75;
    color: #45919A;
    width: 45%;
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

.header-car-spec {
    float: left;
    padding-left: 10px;
    text-decoration: underline;
    
}

.car-spec-values {
    float: right;
    text-align: right;
    padding-right: 10px;
    text-transform: capitalize;
}

.car-description {
    background-color: #F4F4F4;
    clear: both;
    margin: 5px auto;
    padding: 15px;
}

.header-desc {
    font-size: 1.5em;
    color:#45919A;
}

.header-desc h3 {
    display: block;
    margin: 0 0 15px 0;
}

.text-description {
    font-size: 1.2em;
    text-align: justify;
}

.text-description p {
    display: block;
    margin: 0;
}

.contacts-content {
    margin: 0 10%;
}

.contacts-container {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 30px auto;
}

.company-info {
    box-sizing: border-box;
    background-color: #F4F4F4;
    padding: 10px 10px;
}

.company-info p, a {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    margin: 6px 0;
    color: black;
}

.company-info a {
    font-weight: bold;
}

.company-info h2, .company-on-map h2 {
    font-size: 2em;
}

.phone-company, .email-company, .address-company, .schedule-company {
    display: block;
    box-sizing: border-box;
    padding: 5px;
}

.company-block-socials img {
    display: inline-block;
    margin-right: 9px;
    transform: scale(1.2);
}

.company-block-socials img:hover {
    transform: scale(1.3);
}

.company-on-map h2 {
    text-align: center;
}

.about-banner img {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 225px;
}

.about-container {
    text-align: center;
    margin-bottom: 50px;
}

.about-container h2 {
    font-size: 2em;
    margin-top: 0;
}

.about-container p {
    font-size: 1.5em;
    font-weight: 600;
}

.auth-content {
    margin: 5%;
}

 
 .auth {
    display: block;
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
} 
 
.auth h1 {
    color: #4CAF50;
}
 
.auth label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
 
.auth input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 
.auth button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

.auth .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    text-align: left;
    color: red;
}

.admin-menu {
    max-width: 400px; 
    margin: 0 auto;   
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid #ccc; /
}

select {
    width: 100%; /* Растягивает select на всю доступную ширину */
    padding: 8px; /* Добавляет внутренний отступ контента внутри select */
    margin: 5px 0; /* Устанавливает отступы сверху и снизу */
    box-sizing: border-box; /* Учитывает padding и border в общей ширине элемента */
}

textarea {
    width: 100%;
    padding: 8px; /* Добавляет внутренний отступ контента внутри select */
    margin: 5px 0; /* Устанавливает отступы сверху и снизу */
    box-sizing: border-box; /* Учитывает padding и border в общей ширине элемента */
}

@media screen and (max-width: 700px) {
    footer {
        height: 61vh;
    }
}

@media screen and (max-width: 900px) {
    .grid-cars {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 57px;
    }
}

@media screen and (max-width: 1050px) {
    .footer-heading {
        margin: auto 4%;
    }
} 

@media screen and (max-width: 1220px) {
    .wrap-car-image-spec {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: none;
        min-width: 100%;
    }

    .car-images {
        height: 550px;
        position: relative;
    }

    .choosen-car-image {
        margin: 3% 5%;
        height: 370px;
    }

    .gallery-car-images {
        margin-top: 2px;
        margin-left: 5%;
        padding: 0;
    }

    .chosen-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .car-description{
        margin-top: 20px;
    }

    .header-car-spec {
        padding-left: 25px;
    }
    
    .car-spec-values {
        padding-right: 25px;
    }
}

.car-list {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}



.car-item input[type="checkbox"] {
    margin-right: 10px;
}

.company-info p, a:hover {
    color:#555;
}

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}







